<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- Required to show current location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID"
        tools:node="remove" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PhotoVideoAppLimeGig"
        tools:targetApi="31">
        <activity
            android:name=".Tools.PhotoCameraEditorActivity"
            android:exported="false" />
        <activity
            android:name=".Tools.VideoEditorActivity"
            android:exported="false" />
        <activity
            android:name=".AdministratorTools.ViewAdminsActivity"
            android:exported="false" />
        <activity
            android:name=".AdministratorTools.ViewClientsActivity"
            android:exported="false" />
        <activity
            android:name=".AdministratorTools.ViewPaidClientsActivity"
            android:exported="false" />
        <activity
            android:name=".Administrator.AdminDashBoardActivity"
            android:exported="false" />
        <activity
            android:name=".Tools.ContactUsActivity"
            android:exported="false" />
        <activity
            android:name=".User.GalleryActivity"
            android:exported="false" />
        <activity
            android:name=".User.ViewResourcesActivity"
            android:exported="false" />
        <activity
            android:name=".Tools.SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".Tools.DraftsActivity"
            android:exported="false" />
        <activity
            android:name=".Tools.PhotoEditorActivity"
            android:exported="false" />
        <activity
            android:name=".User.UpProfileActivity"
            android:exported="false" />
        <activity
            android:name=".User.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".User.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".Authentication.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".User.UserDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".Authentication.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Authentication.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dsphotoeditor.sdk.activity.DsPhotoEditorActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar" />
        <activity
            android:name="com.dsphotoeditor.sdk.activity.DsPhotoEditorStickerActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar" />
        <activity
            android:name="com.dsphotoeditor.sdk.activity.DsPhotoEditorTextActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.dsphotoeditor.sdk.activity.DsPhotoEditorCropActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar" />
        <activity
            android:name="com.dsphotoeditor.sdk.activity.DsPhotoEditorDrawActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar" />
    </application>

</manifest>